name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install sshpass
      run: sudo apt-get install sshpass

    - name: Deploy code to server
      env:
        SERVER_IP: ${{ secrets.SERVER_IP_ME }}
        SERVER_USER: ${{ secrets.SERVER_USER_ME }}
        SERVER_PASSWORD: ${{ secrets.SERVER_PASSWORD_ME }}
      run: |
        sshpass -p "$SERVER_PASSWORD" scp -o StrictHostKeyChecking=no -r ./ $SERVER_USER@$SERVER_IP:/test

    - name: Run commands on server
      env:
        SERVER_IP: ${{ secrets.SERVER_IP_ME }}
        SERVER_USER: ${{ secrets.SERVER_USER_ME }}
        SERVER_PASSWORD: ${{ secrets.SERVER_PASSWORD_ME }}
      run: |
        sshpass -p "$SERVER_PASSWORD" ssh -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP << 'EOF'
          cd test
          npm install
          npm start
        EOF
